<div class="io-nav io-nav-visible">
         <div class="io-nav-inner">
             <header class="io-nav-header blue darken-3">
                 <!--<div class="io-nav-text ">
                    <div class="row ">
                         <div class="col s3">
                           <img src="images/3ef3591.jpg" alt="" class="circle responsive-img">
                         </div>
                        <div class="col s5">
                            Username
                        </div>
                    </div>-->
                     <!--<div class="col s2 darken-1">
                        <img src="images/3ef3591.jpg" alt="" class="circle responsive-img">  Joel <strong>Cox</strong>
                     </div>
                     -->

                 <!--</div>-->
                <div class="io-nav-text">
                                        <div class="io-nav-header-name white-text darken-1" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                            Joel <strong>Cox</strong>
                                        </div>
                                        <div class="io-nav-header-email" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        Ui &amp; UX Designer
                                        </div>
                                        <div class="io-nav-header-email" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                        JavaScript Engineer
                                        </div>
                                    </div>
             </header>
             <div class="io-navigation" du-scroll-container="container">
                 <a href="/#/profile" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                     <i class="material-icons red-text accent-2">account_circle</i>
                     <div class="io-navigation-item-text grey-text darken-1">Profile</div>
                 </a>
                 <a href="/#/users" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                     <i class="material-icons purple-text accent-2">supervisor_account</i>
                     <div class="io-navigation-item-text grey-text darken-1">User</div>
                 </a>
                 <a href="#section-3" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                     <i class="mdi-av-web green-text accent-2"></i>
                     <div class="io-navigation-item-text grey-text darken-1">Projects</div>
                 </a>
                 <a href="#section-4" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                     <i class="mdi-av-equalizer blue-text accent-2"></i>
                     <div class="io-navigation-item-text grey-text darken-1">Todo</div>
                 </a>
                 <a href="#section-5" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
                     <i class="mdi-social-school amber-text darken-3"></i>
                     <div class="io-navigation-item-text grey-text darken-1">Education</div>
                 </a>
                 <!-- <div href="#section-5" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                     <i class="mdi-communication-call amber-text darken-3"></i>
                     <div class="io-navigation-item-text grey-text darken-1">Contact</div>
                 </div> -->
             </div>
         </div>
    </div>